{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
</head>
<body>
<aside>
       
    <a style="font-size: 30px; margin: 25px; cursor: default; display: block; color: white">Sidebar</a>
    <ul>
        <li><a href="{% url 'home' %}" class="sidebar-elements">Home</a></li>
        <li><a href="{% url 'about' %}" class="sidebar-elements">About</a></li>
        <li><a class="sidebar-elements">Contacts</a></li>
        <li><a class="sidebar-elements">Skills</a></li>
    </ul>

</aside>

<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    
</footer>
</body>
</html>